@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Exo:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap');

body {

    font-family: "Exo", sans-serif;
    font-weight: 600;
    background-color: aquamarine;
    color: #1d1d1d;
    margin: 0;
    padding: 20px;
}

.leaderboard-container {
    max-width: 93vw;
    margin: auto;
    background: turquoise;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 6px black;
}

.ime {
    /* width: 3vw;
    height: 6vh; */

    width: 44px;
    height: 44px;
    margin: 0;
    padding: 0;
    animation: circu 3.42s ease-in-out infinite alternate;
    box-shadow: 0 0 7px black;
    border-radius: 50%;
}

@keyframes circu {
    from {
        transform: translate(0) rotate(0deg);
    }

    to {
        transform: translate(21.57rem) rotate(360deg);
    }
}

h1 {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    font-family: "Bona Nova SC", serif;
    margin-bottom: 20px;
}

.form-container {
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

input,
select,
button {
    padding: 10px;
    border-radius: 4px;
    /* border: 1px solid #ccc; */
    border: none;
}

input,
select {
    flex: 1;
}

.player {
    background-color: rgb(113, 251, 205);
    color: black;
    font-weight: bolder;
    font-size: 1.192vw;
    font-family: "Bona Nova SC", serif;
    box-shadow: 0 0 4px black;
    /* letter-spacing: 0.12rem; */
    border: none;
    border-radius: 0.23rem 0.67rem;
    cursor: pointer;
    margin-left: 44.15%;
    /* margin-right: 50%; */
    /* width: 21vw; */
    width: 10.34vw;
    transition: 0.38s ease-out;
}

.player:hover {
    background-color: rgba(113, 251, 205, 0.523);
    width: 10.31vw;
    transition: 0.37s ease-in;
}

.results-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-weight: 468;
    background-color: rgba(92, 201, 190, 0.785);
}

th,
td {
    padding: 10px;
    text-align: center;
    /* border-bottom: 1px solid #ddd; */
    border: 1.2px solid black;
    box-shadow: 0 0 4px rgb(74, 72, 72);
}

th {
    background-color: rgba(6, 138, 138, 0.416);
}

.action-btn {
    padding: 3px 2px;
    text-align: center;
    align-content: center;
    width: 3vw;
    font-size: 0.89rem;
    color: black;
    margin-left: 5px;
    border: none;
    cursor: pointer;
}

.subtract,
.add {
    background-color: teal;
    color: #ccc;
    border-radius: 17%;
    height: 4vh;
    transition: 0.48s ease-out;
}

.subtract:hover,
.add:hover {
    box-shadow: inset 4rem 0 0 10rem rgba(9, 141, 141, 0.566), inset -4rem 0 0 10rem rgb(8, 167, 167);
    color: #000000;
    transition: 0.48s ease-in;
}

.delete {
    background-color: transparent;
    color: black;
    padding: 0;
    margin: 0;
    width: fit-content;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.delete svg {
    /* background-color: #dc3545; */
    transform: translateY(0.32rem);
    width: fit-content;
    height: 2.68vh;
    transition: 0.72s ease-in-out;
}

.delete svg:hover {
    transform: translateY(-0.02rem) rotate(18deg);
    transition: 0.72s ease-in-out;
    color: rgb(1, 67, 67);
}

.action-btn {
    margin-right: 3px;
}

.action-btn:last-child {
    margin-right: 0;
}

#clanScores {
    margin-top: 20px;
}

@media screen and (max-width: 600px) {

    .leaderboard-container,
    .form-container {
        padding: 10px;
    }

    .form-row {
        flex-direction: column;
    }
}